version: 2
workflows:
  main:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
jobs:
  release:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - run: curl -sL https://git.io/goreleaser | bash

  build:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/tlkamp/mockbob
    environment:
      GO111MODULE: "on"
    steps:
      - checkout
      - run:
          name: Code Coverage
          command: |
            go get gotest.tools/gotestsum
            mkdir -p /tmp/artifacts/gotest
            gotestsum --junitfile /tmp/artifacts/gotest/test-results.xml -- -covermode=count -coverprofile=count.out ./...
            go tool cover -func=count.out
            go tool cover -html=count.out -o /tmp/artifacts/coverage.html
      - store_artifacts:
          path: /tmp/artifacts
      - store_test_results:
          path: /tmp/artifacts/gotest
      - run:
          name: Build
          command: go build